* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Courier, sans-serif;}

.container {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
}

#header {
    height: 100vh;
    background-image: url("statue2.jpg");
    background-position: center;
    background-size: cover;

}

#contentDiv1 {
    height: 300px;
    width: 100%;


    font-size: 150%;
    text-align: center;
    border: 1px solid gray;
}

#contentDiv2 {
    height: 300px;
    width: 60%;

}

#contentDiv3 {
    height: 300px;

    width: 35%;
    border-left: 1px solid darkgray;

}

#downText {
    width: 80%;
    height: 12em;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media all and (max-width: 900px) {
    .container {
        width: 100%;
        color: green;
    }
}

@media all and (max-width: 700px) {
    #contentDiv2 {
        width: 100%;
    }
}