* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Courier, sans-serif;
}

html {
    background: -webkit-radial-gradient(rgb(96, 179, 255), rgb(79, 115, 150));
    background: radial-gradient(rgb(96, 179, 255), rgb(79, 115, 150));

    height: 100%;
    width: 100%;
}

#textDiv {
    width: 45%;
}

#titleText {
    font-family: 'Coiny', cursive;
    max-width: 80%;
    font-weight: bold;
    font-size: 300%;
    padding: 1%;
}

#boxDiv {
    border: 3px solid orange ;
    padding: 1%;
    width: 25%;
    height: 250px;

    left: 5%;
    position: fixed;
    bottom: 5%;

    border-radius: 25px;
}

.speech-bubble {
    vertical-align: middle;
    text-align: center;
    line-height: 250px;

    background: #b8af7f;
    border-radius: .4em;
    opacity: 0.8;

    width: 20%;
    height: 250px;

    left: 5%;
    position: fixed;
    bottom: 5%;
}

.speech-bubble:after { content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: #b8af7f;
    border-bottom: 0;
    border-left: 0;
    margin-left: -10px;
    margin-bottom: -20px;
}

#bubbleText {
    text-align: center;
    font-size: 300%;
    top: 50%;
}

.container {
    position: fixed;
    right: 10%;
    bottom: 25%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#sunDiv {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;

}

#theSun {
    display: block;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 0;

    /*Sun shining effect*/
    background: -webkit-radial-gradient(rgb(221, 237, 22), rgb(226, 114, 114));
    background: radial-gradient(rgb(221, 237, 22), rgb(226, 114, 114));
    opacity: 0.95;

    box-shadow: 1px 1px 300px yellow;

}

#lightBox {
    height: 175px;
    width: 80px;
    background-color: black;
    border: 6px solid darkgray;

    border-radius: 25px / 10px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

#lightPole {
    height: 175px;
    width: 20px;
    background-color: black;

    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50%;
}

#mound1 {
    position: fixed;
    bottom: 0;
    width: 70%;
    height: 200px;

    border-top-left-radius: 0px 0px;
    border-top-right-radius: 1000px 200px;
    z-index: -1;


    background: -webkit-linear-gradient(0deg, rgb(156, 140, 90), rgb(211, 177, 70));
    background: linear-gradient(0deg, rgb(156, 140, 90), rgb(211, 177, 70));

}

#mound2 {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 320px;

    border-top-right-radius: 100px 20px;
    border-top-left-radius: 1000px 300px;
    z-index: -2;


    background: -webkit-linear-gradient(0deg, rgb(156, 140, 90), rgb(211, 177, 70));
    background: linear-gradient(0deg, rgb(156, 140, 90), rgb(211, 177, 70));

}

.lights {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 3px;

    /*Shadowing*/
    -moz-box-shadow:    inset 0 0 20px #000000;
    -webkit-box-shadow: inset 0 0 20px #000000;
    box-shadow:         inset 0 0 20px #000000;

    /* polka dots*/
    background:
            -moz-radial-gradient(black 5%, transparent 20%),
            -moz-radial-gradient(black 5%, transparent 20%),
            black;
    background-size:5px 5px;
}

/*Traffic lights*/

#lightNum1 {
    background-color: #ff3300;
}

#lightNum1:hover {
    background-color: #cc2900;
}

#lightNum1:active {
    background-color: #000000;
}

#lightNum2 {
    background-color: #ffff00;
}

#lightNum2:hover {
    background-color: #e6e600;
}

#lightNum2:active {
    background-color: #000000;
}

#lightNum3 {
    background-color: #33cc33;
}

#lightNum3:hover {
    background-color: #29a329;
}

#lightNum3:active {
    background-color: #000000;
}